<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ config['title'] }}</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='config.css') }}">
</head>

<body class="colorful">
	<div class="whitegrad">
		<div class="header">
			<div class="headertext">
				<a name="root" href="{{ request.url_root }}" class="headertext">
					پیکربندی وبلاگ
				</a>
			</div>
		</div>
	</div>

	<form class="setupform" action="{{ request.script_root }}/config" method="post" accept-charset="utf-8">

		{{ form.csrf_token }}

		<span class="text">عنوان وبلاگ :</span>
		{{ form['title'] }}

		<span class="text">شرح وبلاگ :</span>
		{{ form['desc'] }}

		<span class="text">نام کاربری :</span>
		<input type="text" name="username" value="admin" minlength="3" maxlength="32" disabled required>

		<span class="text">گذرواژه ی فعلی :</span>
		{{ form['currpwd'] }}

		<span class="text">گذرواژه ی جدید* :</span>
		{{ form['newpwd'] }}

		<span class="text">گذرواژه ی جدید (تکرار):</span>
		{{ form['confirmpwd'] }}

		<span class="text">نام نمایشی* :</span>
		{{ form['dispname'] }}

		<span class="text">پست الکترونیک :</span>
		{{ form['mailaddr'] }}

		<span class="text">تعداد پست ها در هر صفحه :</span>
		{{ form['ppp'] }}

		<span class="text">قالب نمایش تاریخ و زمان* :</span>
		{{ form['dtformat'] }}

		<span class="text">تقویم : </span>
		{{ form['calendar'] }}

		<span class="text">تأیید خودکار نظرات : </span>
		{{ form['autoapproval'] }}

		<span class="text">غیرفعال کردن نظرات : </span>
		{{ form['disablecomments'] }}

		<button type="submit" class="bluebtn" id="submit" onclick='return check();'>ارسال</button>

		<div class="help">
			<span class="title">* در صورت خالی بودن گذرواژه جدید از گذرواژه ی قبلی استفاده خواهد شد.</span>
			<span class="title">* گذرواژه جدید باید حداقل شامل 8 کاراکتر باشد.</span>
			<span class="title">* نام نمایشی فعلاً مورد استفاده قرار نمی گیرد.</span>
			<span class="title">* در صورت فعال کردن تأیید خودکار نظرات، نظرات قبلی که هنوز تأیید نشده هستند در حالت
				تأیید نشده باقی خواهند ماند و تأیید خودکار تنها برای نظرات جدید فعال خواهد شد.</span>
			<span class="title">* در صورت غیرفعال کردن نظرات، کاربران امکان ثبت نظر برای هیچ پستی را نخواهند
				داشت.</span>
			<span class="title">* واژه های قابل استفاده در قالب نمایش تاریخ و زمان :</span>
			<span class="desc">A% : نام روز هفته (مانند: شنبه، یکشنبه، دوشنبه...)</span>
			<span class="desc">d% : شماره روز در ماه شمسی (مانند: 1، 5، 20، 31)</span>
			<span class="desc">B% : نام ماه شمسی (مانند: فروردین، اردیبهشت، خرداد، ...)</span>
			<span class="desc">m% : شماره ماه شمسی (مانند: 1، 5، 10، 12)</span>
			<span class="desc">Y% : شماره سال شمسی (مانند: 1398)</span>
			<span class="desc">H% : ساعت</span>
			<span class="desc">M% : دقیقه</span>
			<span class="desc">S% : ثانیه</span>
			<span class="desc">N% : تهی</span>
		</div>
	</form>

	<script>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		var messages = {{ messages | safe }};
		for (var i = 0; i < messages.length; i++)
			alert(messages[i]);
		{% endif %}
		{% endwith %}

		function check() {
			if ((document.getElementById('pwd1').value ==
				document.getElementById('pwd2').value)
				&& ((document.getElementById('pwd1').value.length == 0)
					|| (document.getElementById('pwd1').value.length >= 8))) {
				document.getElementById('pwd1').style.color = '#22FF22';
				document.getElementById('pwd2').style.color = '#22FF22';
				return true;
			} else {
				document.getElementById('pwd1').style.color = '#FF2222';
				document.getElementById('pwd2').style.color = '#FF2222';
				document.getElementById('pwd1').focus();
				return false;
			}
		}
	</script>

	<footer>
		<div id="home" class="btn btnText" onclick="window.location.href='{{ request.url_root }}';">
			<span class="fas fa-chevron-left">
				<span class="btnTextBalloon">بازگشت به صفحه اصلی</span>
			</span>
		</div>
	</footer>
</body>

</html>