<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ config['title'] }}</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body class="colorful">
	<div class="header">
		<div class="blogname">
			<a name="root" href="{{ request.url_root }}" class="blogname">{{ config['title'] }}</a>
		</div>
		<div class="blogdesc">{{ config['desc'] }}</div>
	</div>
	<div class="timeline">
		<div class="space"></div>
		<div class="loading fas fa-ellipsis-h" id="loading" onclick="loadMore()"></div>
	</div>
	<script>
		var page = 0;
		var done = false;
		var args = "";
		var xhttp = new XMLHttpRequest();
		var url = new URL(window.location.href);
		var search = url.searchParams.get("search");
		var category = url.searchParams.get("category");
		var sort = url.searchParams.get("sort");
		var tag = url.searchParams.get("tag");

		if (search != null)
			args += "search=" + search + "&"
		if (category != null)
			args += "category=" + category + "&"
		if (sort == "ascdate" || sort == "asccomments" || sort == "desccomments")
			args += "sort=" + sort + "&"
		else
			args += "sort=descdate&"
		if (tag != null)
			args += "tag=" + tag + "&"
		{% if admin %}
		function deletepost(id) {
			if (id < 1) return;

			if (!confirm('آیا از حذف مطلب مطمئن هستید؟')) return;

			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200)
					location.reload();
				else if (this.readyState == 4 && this.status == 401)
					alert('شما مجوز لازم برای انجام این کار را ندارید!\n\nدر صورتی که مدیر سیستم هستید ابتدا به صحفه ی اصلی بازگردید و با وارد کردن گذرواژه وارد شوید.');
			};
			xhttp.open("POST", "{{ request.script_root }}/deletepost");
			xhttp.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
			xhttp.setRequestHeader("Content-Type", "application/json");
			data = JSON.stringify({ "id": id });
			xhttp.send(data);
		}
		{% endif %}
		function insertPosts(resp) {
			if (done) return;

			var elem = document.getElementById("loading");

			elem.insertAdjacentHTML('beforebegin', resp);

			++page;

			if (window.innerHeight + window.scrollY >= document.body.scrollHeight)
				loadMore(insertPosts);
		}

		function loadMore() {
			if (done)
				return;

			var elem = document.getElementById("loading");

			xhttp.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					if (this.responseText == "END.") {
						done = true;

						elem.style.display = 'none';
					}
					else {
						insertPosts(this.responseText);
					}
				}
			};
			xhttp.open("GET", "{{ request.script_root }}/page?" + args + "page=" + page);
			xhttp.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
			xhttp.send();
		}

		loadMore(insertPosts);

		window.scrollTo(0, 0);

		window.addEventListener("scroll", function (event) {
			if (done) return;
			if (this.innerHeight + this.scrollY >= document.body.scrollHeight)
				loadMore(insertPosts);
		});
	</script>
	{% include 'sidebar.html' %}
	<footer>
		{% include 'menu.html' %}
		{% include 'totop.html' %}
		{% include 'trademark.html' %}
	</footer>
</body>

</html>