<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>اشتراک گذاری</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='share.css') }}">
</head>

<body class="colorful">
	<div class="whitegrad">

		<div class="header">
			<div class="headertext">
				<a name="root" href="{{ request.script_root }}" class="headertext">
					اشتراک گذاری مطلب
				</a>
			</div>
		</div>
	</div>

	<div class="shareform">

		<span class="text">اشتراک گذاری از طریق : </span>
		<select id="target">
			<option value="email">ایمیل</option>
			<option value="twitter">توییتر</option>
		</select>

		<span class="text tooltip">
			پست الکترونیک * :
			<span class="tooltiptext">فقط برای اشتراک گذاری از طریق ایمیل کاربرد دارد</span>
		</span>
		<input type="email" id="mailaddr" maxlength="40" value="">

		<span class="text tooltip">
			موضوع * :
			<span class="tooltiptext">فقط برای اشتراک گذاری از طریق ایمیل کاربرد دارد</span>
		</span>
		<input type="text" id="subject" maxlength="64" value="{{post['title']}}">

		<span class="text tooltip">
			متن * :
			<span class="tooltiptext">
				توجه داشته باشید که حداکثر تعداد کاراکتر های
				<br>
				قابل ارسال در پیام های توییتری 140 کاراکتر است
			</span>
		</span>
		<textarea id="content" id="content" value="" maxlength="512"
			required>{{post['mediaaddr']}}&#13;&#10;{{post['content']}}</textarea>

		<button type="submit" class="bluebtn" id="submit" onclick="send();">ارسال</button>
	</div>

	<script>
		function send() {
			target = document.getElementById('target').value;
			mailaddr = document.getElementById('mailaddr').value;
			subject = document.getElementById('subject').value;
			content = document.getElementById('content').value;

			content = encodeURIComponent(content) + "%0A%0A";

			if (target == "email") {
				url = "mailto:" + mailaddr + "?subject=" + subject + "&body=" + content;

			} else if (target == "twitter") {

				url = "http://twitter.com/share?url={{ request.url_root }}&text=" + content;
			}

			window.open(url);
		}
	</script>
</body>

</html>