<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>نظرات</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='comments.css') }}">
</head>
<body class="colorful">
	<div class="whitegrad">
		<div class="header">
			<div class="headertext">
				<a name="root" href="{{ request.script_root }}" class="headertext">
				نظرات
				</a>
			</div>
		</div>
	</div>
	
	<script>
		var xhttp = new XMLHttpRequest();
		
		function deletecomment(id)
		{	
			if (id < 1) return;
			
			if (!confirm('آیا از حذف نظر مطمئن هستید؟')) return;
			
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200)
					window.location.href = window.location.href;
				else if (this.readyState == 4 && this.status == 401)
					alert('شما مجوز لازم برای انجام این کار را ندارید!\n\nدر صورتی که مدیر سیستم هستید ابتدا به صحفه ی اصلی بازگردید و با وارد کردن گذرواژه وارد شوید.');
			};
			xhttp.open("GET", "{{ request.script_root }}/deletecomment?id=" + id);
			xhttp.send();
		}
	</script>
	
	<div class="comments">
		{% if (comments) %}
		{% for comment in comments %}
		<div class="comment">
			<div class="infobar">
				{% if (comment['website']) %}<a class="website" href="{{comment['website']}}" target="_blank">{% endif %}
					<span class="author">{{comment['name']}}</span>
				{% if (comment['website']) %}</a>{% endif %}
				{% if admin %}
				<a href="javascript:deletecomment({{comment['cmtid']}});" class="delete"><span class="far fa-trash-alt tooltip"><span class="tooltiptext">حذف نظر</span></span></a>
				{% endif %}
				<span class="date">{{comment['datetime']}}</span>
			</div>
			<p class="content">{{comment['content']}}{% if (comment['emailaddr']) and admin %}<br><br>پست الکترونیک : {{comment['emailaddr']}}{% endif %}</p>
		</div>
		{% endfor %}
		{% else %}
		<p class="center content">هنوز نظری برای این پست ثبت نشده است!</p>
		{% endif %}
	</div>
	
	<form class="commentform" action="{{ request.script_root }}/comments?postid={{ postid }}" method="post" accept-charset="utf-8">
		
		{{ form.csrf_token }}
		
		<span class="text">نام : </span>
		{{ form['name'] }}
		
		<span class="text">پست الکترونیک :</span>
		{{ form['mailaddr'] }}
		
		<span class="text">آدرس وبسایت :</span>
		{{ form['website'] }}
		
		<span class="text">متن نظر :</span>
		{{ form['content'] }}
		
		{{ form['postid'] }}
		
		<button type="submit" class="bluebtn" id="submit">ارسال</button>
	</form>
</body>
</html>