<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ config['title'] }}</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="colorful">
	<div class="header">
		<div class="blogname">
			<a name="root" href="{{ request.url_root }}" class="blogname">{{ config['title'] }}</a>
		</div>
		<div class="blogdesc">{{ config['desc'] }}</div>
	</div>
	<div class="timeline">
		<div class="space"></div>
		<div class="loading fas fa-ellipsis-h" id="loading" onclick="loadMore()"></div>
	</div>
	<script>
		var page = 0;
		var done = false;
		var xhttp = new XMLHttpRequest();
		var args = "";
		
		var url = new URL(window.location.href);
		var search = url.searchParams.get("search");
		var category = url.searchParams.get("category");
		var sort = url.searchParams.get("sort");
		var tag  = url.searchParams.get("tag");
		
		if (search != null) 
			args += "search=" + search + "&"
		if (category != null) 
			args += "category=" + category + "&"
		if (sort == "ascdate" || sort == "asccomments" || sort == "desccomments")
			args += "sort=" + sort + "&"
		else
			args += "sort=descdate&"
		if (tag != null)
			args += "tag=" + tag + "&"
			
		function deletepost(id)
		{
			if (id < 1) return;
			
			if (!confirm('آیا از حذف مطلب مطمئن هستید؟')) return;
			
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200)
					location.reload();
				else if (this.readyState == 4 && this.status == 401)
					alert('شما مجوز لازم برای انجام این کار را ندارید!\n\nدر صورتی که مدیر سیستم هستید ابتدا به صحفه ی اصلی بازگردید و با وارد کردن گذرواژه وارد شوید.');
			};
			xhttp.open("GET", "{{ request.script_root }}/deletepost?id=" + id);
			xhttp.send();
		}
		
		function newlink()
		{
			var addr = prompt("لطفاً آدرس پیوند را وارد کنید");
			
			if (addr == "") return;
			
			var name = prompt("لطفاً نام پیوند را وارد کنید");
			
			if (name == "") return;
			
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200)
					location.reload(); 
				else if (this.readyState == 4 && this.status == 401)
					alert('شما مجوز لازم برای انجام این کار را ندارید!\n\nدر صورتی که مدیر سیستم هستید ابتدا به صحفه ی اصلی بازگردید و با وارد کردن گذرواژه وارد شوید.');
			};
			xhttp.open("GET", "{{ request.script_root }}/addlink?name=" + name + "&address=" + encodeURIComponent(addr));
			xhttp.send();
		}
		
		function editlink(id, linkname, linkaddress)
		{
			var addr = prompt("لطفاً آدرس جدید پیوند را وارد کنید", linkaddress);
			
			if (addr == "") return;
			
			var name = prompt("لطفاً نام جدید پیوند را وارد کنید", linkname);
			
			if (name == "") return;
			
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200)
					location.reload(); 
				else if (this.readyState == 4 && this.status == 401)
					alert('شما مجوز لازم برای انجام این کار را ندارید!\n\nدر صورتی که مدیر سیستم هستید ابتدا به صحفه ی اصلی بازگردید و با وارد کردن گذرواژه وارد شوید.');
			};
			xhttp.open("GET", "{{ request.script_root }}/editlink?id=" + id  + "&name=" + name + "&address=" + encodeURIComponent(addr));
			xhttp.send();
		}
		
		function removelink(id)
		{
			if (!confirm('آیا از حذف پیوند مطمئن هستید؟'))  return;
			
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200)
					location.reload(); 
				else if (this.readyState == 4 && this.status == 401)
					alert('شما مجوز لازم برای انجام این کار را ندارید!\n\nدر صورتی که مدیر سیستم هستید ابتدا به صحفه ی اصلی بازگردید و با وارد کردن گذرواژه وارد شوید.');
			};
			xhttp.open("GET", "{{ request.script_root }}/removelink?id=" + id);
			xhttp.send();
		}
		
		function newcategory()
		{	
			var name = prompt("لطفاً نام دسته جدید را وارد کنید");
			
			if (name == null) return;
			
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200)
					location.reload(); 
				else if (this.readyState == 4 && this.status == 401)
					alert('شما مجوز لازم برای انجام این کار را ندارید!\n\nدر صورتی که مدیر سیستم هستید ابتدا به صحفه ی اصلی بازگردید و با وارد کردن گذرواژه وارد شوید.');
			};
			xhttp.open("GET", "{{ request.script_root }}/newcategory?name=" + name);
			xhttp.send();
		}
		
		function editcategory(id, name)
		{
			var name = prompt("لطفاً نام جدید دسته را وارد کنید", name);
			
			if (name == "") return;
			
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200)
					location.reload(); 
				else if (this.readyState == 4 && this.status == 401)
					alert('شما مجوز لازم برای انجام این کار را ندارید!\n\nدر صورتی که مدیر سیستم هستید ابتدا به صحفه ی اصلی بازگردید و با وارد کردن گذرواژه وارد شوید.');
			};
			xhttp.open("GET", "{{ request.script_root }}/editcategory?id=" + id + "&name=" + name);
			xhttp.send();
		}
		
		function removecategory(id)
		{
			if (!confirm('آیا از حذف دسته مطمئن هستید؟\n\nبا حذف دسته تمام پست های مربوط به این دسته نیز حذف خواهند شد.'))  return;
			
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200)
					location.reload();
				else if (this.readyState == 4 && this.status == 401)
					alert('شما مجوز لازم برای انجام این کار را ندارید!\n\nدر صورتی که مدیر سیستم هستید ابتدا به صحفه ی اصلی بازگردید و با وارد کردن گذرواژه وارد شوید.');
			};
			xhttp.open("GET", "{{ request.script_root }}/removecategory?id=" + id);
			xhttp.send();
		}
	
		function insertPosts(resp)
		{
			if (done) return;
		
			var elem = document.getElementById("loading");
		
			elem.insertAdjacentHTML('beforebegin', resp);
			
			++page;
			
			if (window.innerHeight + window.scrollY >= document.body.scrollHeight)
				loadMore(insertPosts);
		}
		
		function loadMore()
		{
			if (done) 
				return;
		
			var elem = document.getElementById("loading");
			
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					if (this.responseText == "END.")
					{
						done = true;
						
						elem.style.display = 'none';
					}
					else
					{
						insertPosts(this.responseText);
					}
				}
			};
			xhttp.open("GET", "{{ request.script_root }}/page?" + args + "page=" + page);
			xhttp.send();
		}
		
		loadMore(insertPosts);
			
		window.scrollTo(0, 0);
		
		window.addEventListener("scroll", function (event) {
			if (done) return;
			if (this.innerHeight + this.scrollY >= document.body.scrollHeight) 
				loadMore(insertPosts);
		});
	</script>
	
	<div id="tools" class="sidenav">
		<div class="closebtn" onclick="document.getElementById('tools').style.width='0px';">
			<i class="toolboxicon fas fa-times"></i>
		</div>
		<form class="search-container" action="{{ request.script_root }}/" method="get" accept-charset="utf-8">
			<input type="text" name="search" placeholder="جستجو..." class="search" maxlength="64" required>
			<button type="submit">
				<i class="fa fa-search"></i>
			</button>
		</form>
		<div class="collapsible">
			<i class="toolboxicon fas fa-folder"></i>دسته  ها
		</div>
		<div class="items">
			<a class="item" href="{{ request.script_root }}/"><i class="toolboxicon fas fa-external-link-alt"></i>انتخاب همه دسته ها</a>
			{% if (categories) %}
			{% for category in categories %}
			{% if admin %}
			<a href="javascript:removecategory({{category['catid']}})" class="action"><i class="toolboxicon fas fa-trash"></i></a>
			<a href="javascript:editcategory({{category['catid']}}, '{{category['name']}}')" class="action"><i class="toolboxicon fas fa-pen"></i></a>
			{% endif %}
			<a class="item" href="{{ request.script_root }}/?category={{category['catid']}}"><i class="toolboxicon fas fa-external-link-alt"></i>{{category['name']}}</a>
			{% endfor %}
			{% else %}
			دسته ای یافت نشد!
			{% endif %}
			{% if admin %}
			<a href="javascript:newcategory()" class="item"><i class="toolboxicon fas fa-plus"></i>افزودن</a>
			{% endif %}
		</div>
		
		<div class="collapsible">
			<i class="toolboxicon fas fa-sort-amount-down"></i>مرتب سازی
		</div>
		<div class="items">
			<a class="item" href="{{ request.script_root }}/?sort=ascdate"><i class="toolboxicon fas fa-arrow-up"></i>بر اساس تاریخ (صعودی)</a>
			<a class="item" href="{{ request.script_root }}/?sort=descdate"><i class="toolboxicon fas fa-arrow-down"></i>بر اساس تاریخ (نزولی)</a>
			<a class="item" href="{{ request.script_root }}/?sort=asccomments"><i class="toolboxicon fas fa-arrow-up"></i>بر اساس تعداد نظرات (صعودی)</a>
			<a class="item" href="{{ request.script_root }}/?sort=desccomments"><i class="toolboxicon fas fa-arrow-down"></i>بر اساس تعداد نظرات (نزولی)</a>
		</div>
		
		<div class="collapsible">
			<i class="toolboxicon fas fa-hashtag"></i>کلیدواژه ها
		</div>
		<div class="items">
			<a class="item">کلیدواژه های محبوب</a>
			{% if (favtags) %}
			{% for tag in favtags %}
			<a class="item" href="{{ request.script_root }}/?tag={{tag['keyword']}}"><i class="toolboxicon fas fa-hashtag"></i>{{tag['keyword']}}</a>
			{% endfor %}
			{% else %}
			<a class="item" href="#" target="_self"><i class="toolboxicon fas fa-eye-slash"></i>کلیدواژه ای یافت نشد!</a>
			{% endif %}
			<a class="item">کلیدواژه های پرکاربرد</a>
			{% if (frqtags) %}
			{% for tag in frqtags %}
			<a class="item" href="{{ request.script_root }}/?tag={{tag['keyword']}}"><i class="toolboxicon fas fa-hashtag"></i>{{tag['keyword']}}</a>
			{% endfor %}
			{% else %}
			<a class="item" href="#" target="_self"><i class="toolboxicon fas fa-eye-slash"></i>کلیدواژه ای یافت نشد!</a>
			{% endif %}
		</div>
		
		<div class="collapsible">
			<i class="toolboxicon fas fa-link"></i>پیوند ها
		</div>
		<div class="items">
			{% if (links) %}
			{% for link in links %}
			{% if admin %}
			<a href="javascript:removelink({{link['linkid']}})" class="action"><i class="toolboxicon fas fa-trash"></i></a>
			<a href="javascript:editlink({{link['linkid']}}, '{{link['name']}}', '{{link['address']}}')" class="action"><i class="toolboxicon fas fa-pen"></i></a>
			{% endif %}
			<a class="item" href="{{link['address']}}" target="_blank"><i class="toolboxicon fas fa-external-link-alt"></i>{{link['name']}}</a>
			{% endfor %}
			{% else %}
			<a class="item" href="#" target="_self"><i class="toolboxicon fas fa-eye-slash"></i>پیوندی یافت نشد!</a>
			{% endif %}
			{% if admin %}
			<a href="javascript:newlink()" class="item"><i class="toolboxicon fas fa-plus"></i>افزودن</a>
			{% endif %}
		</div>
		{% if admin %}
		<a href="{{ request.script_root }}/post">
			<i class="toolboxicon fas fa-pen-nib"></i>ارسال پست جدید
		</a>
		
		<a href="{{ request.script_root }}/config">
			<i class="toolboxicon fas fa-cog"></i>پیکربندی وبلاگ
		</a>
		{% endif %}
		{% if not admin %}
		<div class="collapsible">
			<i class="toolboxicon fas fa-key"></i>ورود
		</div>
		<div class="items">
			<form action="{{ request.script_root }}/login" method="post">
				<div class="item" onclick="document.getElementById('pwInput').focus()">گذرواژه : 
					{{ form.csrf_token }}
					{{ form['pwd'] }}
				</div>
				<div class="item">
					<button type="submit" id="btnLogin">ورود »</button>
				</div>
			</form>
		</div>
		{% endif %}
		<a href="mailto:{{ config['mailaddr'] }}">
			<i class="toolboxicon fas fa-envelope"></i>تماس با مدیر
		</a>
		{% if admin %}
		<a href="{{ request.script_root }}/logout" target="_self">
			<i class="toolboxicon fas fa-sign-out-alt"></i>خروج
		</a>
		{% endif %}
	</div>
	
	<script>
		var coll = document.getElementsByClassName("collapsible");
		var i;
		
		for (i = 0; i < coll.length; ++i) {
			coll[i].addEventListener("click", function() {
				this.classList.toggle("active");
				var items = this.nextElementSibling;
				if (items.style.maxHeight) {
					items.style.maxHeight = null;
				} else {
					items.style.maxHeight = items.scrollHeight + "px";
				} 
		});
		}
		
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		var messages = {{ messages | safe }};
		for (var i=0; i<messages.length; i++)
			alert(messages[i]);
		{% endif %}
		{% endwith %}
	</script>

	<footer>
		<div id="menu" class="btn btnText" onclick="document.getElementById('tools').style.width='300px';">
			<span class="fas fa-bars">
				<span class="btnTextBalloon">نوار ابزار</span>
			</span>
		</div>
		<a href="#" id="toTop" class="btn btnText">
			<span class="fas fa-chevron-up">
				<span class="btnTextBalloon">بازگشت به بالا</span>
			</span>
		</a>
		<p class="footer">Powered by <a class="footerlink" href="https://github.com/alefmim/rangirangi" target="_blank">RangiRangi</a><br>Amir@Comic.Com</p>
	</footer>
</body>
</html>
