{% for post in posts %}
{%if ((loop.index0 + c) % 2) == 0 %}
<div class="container right">
	{% else %}
	<div class="container left">
		{% endif %}
		<div class="content">
			{% if (post['mediaaddr']) %}
			<img class="image" src="{{ post['mediaaddr'] }}">
			{% endif %}
			<p class="text">{{ post['content'] }}</p>
			<p class="postbar">
				<span class="far fa-calendar tooltip">
					<span class="tooltiptext">تاریخ انتشار مطلب</span>
				</span> {{ post['datetime'] }}
				<span class="postbuttons">
					{% if admin %}
					<span onclick="deletepost({{ post['postid'] }})" class="postbutton">
						<span class="far fa-trash-alt tooltip">
							<span class="tooltiptext">حذف مطلب</span>
						</span>
					</span>
					<a href="{{ request.script_root }}/post?id={{ post['postid'] }}" target="_self" class="postbutton">
						<span class="far fa-edit tooltip">
							<span class="tooltiptext">ویرایش مطلب</span>
						</span>
					</a>
					{% endif %}
					{% block adminbuttons %}{% endblock %}
					<span
						onclick="window.open('{{ request.script_root }}/share?postid={{ post['postid'] }}','comments','status=yes, scrollbars=yes, toolbar=no, menubar=no, location=no , width=700px, height=800px, top=150, left=150')"
						class="postbutton">
						<span class="far fa-share-square tooltip">
							<span class="tooltiptext">اشتراک گذاری</span>
						</span>
					</span>
					<span
						onclick="window.open('{{ request.script_root }}/comments?postid={{ post['postid'] }}','comments','status=yes, scrollbars=yes, toolbar=no, menubar=no, location=no , width=700px, height=800px, top=150, left=150')"
						class="postbutton">
						<span id="comments">{{ post['comments'] }}</span>
						<span class="far fa-comment tooltip">
							<span class="tooltiptext">نظرات</span>
						</span>
					</span>
				</span>
			</p>
		</div>
	</div>
	{% endfor %}