<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>نمایش مطلب</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='show.css') }}">
</head>

<body class="colorful">
    <div class="whitegrad">
        <div class="header">
            <div class="headertext">
                <a name="root" href="{{ request.url_root }}" class="headertext">
                    {{ post['title'] }}
                </a>
            </div>
        </div>
    </div>
    {% if admin %}
    <script>
        var xhttp = new XMLHttpRequest();
        function deletepost(id) {
            if (id < 1) return;

            if (!confirm('آیا از حذف مطلب مطمئن هستید؟')) return;

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200)
                    window.location.href = '{{ request.url_root }}';
                else if (this.readyState == 4 && this.status == 401)
                    alert('شما مجوز لازم برای انجام این کار را ندارید!\n\nدر صورتی که مدیر سیستم هستید ابتدا به صحفه ی اصلی بازگردید و با وارد کردن گذرواژه وارد شوید.');
            };
            xhttp.open("POST", "{{ request.script_root }}/deletepost?id=" + id);
            xhttp.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
            xhttp.send();
        }
        function deletecomment(id) {
            if (id < 1) return;

            if (!confirm('آیا از حذف نظر مطمئن هستید؟')) return;

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200)
                    window.location.href = window.location.href;
                else if (this.readyState == 4 && this.status == 401)
                    alert('شما مجوز لازم برای انجام این کار را ندارید!\n\nدر صورتی که مدیر سیستم هستید ابتدا به صحفه ی اصلی بازگردید و با وارد کردن گذرواژه وارد شوید.');
            };
            xhttp.open("POST", "{{ request.script_root }}/deletecomment?id=" + id);
            xhttp.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
            xhttp.send();
        }
        function approvecomment(id) {
            if (id < 1) return;

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200)
                    window.location.href = window.location.href;
                else if (this.readyState == 4 && this.status == 401)
                    alert('شما مجوز لازم برای انجام این کار را ندارید!\n\nدر صورتی که مدیر سیستم هستید ابتدا به صحفه ی اصلی بازگردید و با وارد کردن گذرواژه وارد شوید.');
            };
            xhttp.open("POST", "{{ request.script_root }}/approvecomment?id=" + id);
            xhttp.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
            xhttp.send();
        }
    </script>
    {% endif %}
    <div class="post">
        {% if post['mediaaddr'] %}
        <img class="image" src="{{ post['mediaaddr'] }}">
        {% endif %}
        <p class="text">{{ post['content'] }}</p><br>
        <span class="postbuttons">
            {% if admin %}
            <span onclick="deletepost({{ post['postid'] }})" class="postbutton">
                <span class="far fa-trash-alt tooltip">
                    <span class="tooltiptext">حذف مطلب</span>
                </span>
            </span>
            <a href="{{ request.script_root }}/post?id={{ post['postid'] }}" target="_self" class="postbutton">
                <span class="far fa-edit tooltip">
                    <span class="tooltiptext">ویرایش مطلب</span>
                </span>
            </a>
            {% endif %}
            {% block adminbuttons %}{% endblock %}
            <span
                onclick="window.open('{{ request.script_root }}/share?postid={{ post['postid'] }}','comments','status=yes, scrollbars=yes, toolbar=no, menubar=no, location=no , width=700px, height=800px, top=150, left=150')"
                class="postbutton">
                <span class="far fa-share-square tooltip">
                    <span class="tooltiptext">اشتراک گذاری</span>
                </span>
            </span>
        </span>
    </div>
    <div class="comments">
        {% if (comments) %}
        {% set var = namespace(counter = 0) %}
        {% for comment in comments %}
        {% if (comment['status'] >= 2) %}
        {% set var.counter = var.counter + 1 %}
        <div class="comment">
            <div class="cinfobar">
                {% if (comment['website']) %}<a class="cwebsite" href="{{comment['website']}}"
                    target="_blank">{% endif %}
                    <span class="cauthor">{{comment['name']}}</span>
                    {% if (comment['website']) %}</a>{% endif %}
                {% if admin %}
                <a href="javascript:deletecomment({{comment['cmtid']}});" class="cbtn"><span
                        class="far fa-trash-alt ctooltip"><span class="ctooltiptext">حذف نظر</span></span></a>
                {% if (comment['status'] == 2) %}
                <a href="javascript:void(0);" class="cbtn"><span class="fas fa-asterisk ctooltip"><span
                            class="ctooltiptext">نظر جدید</span></span></a>
                {% endif %}
                {% endif %}
                <span class="cdate">{{comment['datetime']}}</span>
            </div>
            <p class="ccontent">{{comment['content']}}{% if (comment['emailaddr']) and admin %}<br><br>پست الکترونیک :
                {{comment['emailaddr']}}{% endif %}</p>
        </div>
        {% else %}
        {% if (admin) %}
        <div class="comment">
            <div class="cinfobar cnew">
                {% if (comment['website']) %}<a class="cwebsite" href="{{comment['website']}}"
                    target="_blank">{% endif %}
                    <span class="cauthor">{{comment['name']}}</span>
                    {% if (comment['website']) %}</a>{% endif %}
                {% if admin %}
                <a href="javascript:deletecomment({{comment['cmtid']}});" class="cbtn"><span
                        class="far fa-trash-alt ctooltip"><span class="ctooltiptext">حذف نظر</span></span></a>
                <a href="javascript:approvecomment({{comment['cmtid']}});" class="cbtn"><span
                        class="fas fa-check ctooltip"><span class="ctooltiptext">تأیید نظر</span></span></a>
                {% if (comment['status'] == 0) %}
                <a href="javascript:void(0);" class="cbtn"><span class="fas fa-asterisk ctooltip"><span
                            class="ctooltiptext">نظر جدید</span></span></a>
                {% endif %}
                {% endif %}
                <span class="cdate">{{comment['datetime']}}</span>
            </div>
            <p class="ccontent">{{comment['content']}}{% if (comment['emailaddr']) and admin %}<br><br>پست الکترونیک :
                {{comment['emailaddr']}}{% endif %}</p>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if (var.counter == 0) and (not admin) and (disablecomments != 'Yes') %}
        <p class="center ccontent">هنوز نظری برای این پست ثبت نشده است.</p>
        {% endif %}
        {% if (not admin) and (disablecomments == 'Yes') %}
    </div>
    <div class="comments">
        <p class="center ccontent">ثبت نظرات برای این پست غیرفعال است.</p>
    </div>
    {% endif %}
    {% else %}
    {% if (admin) or (disablecomments != 'Yes') %}
    <p class="center ccontent">هنوز نظری برای این پست ثبت نشده است.</p>
    {% else %}
    <p class="center ccontent">ثبت نظرات برای این پست غیرفعال است.</p>
    {% endif %}
    {% endif %}
    </div>
    {% if ((admin) or (disablecomments != 'Yes')) %}
    <form class="commentform" action="{{ request.script_root }}/comments?postid={{ postid }}" method="post"
        accept-charset="utf-8">

        {{ form.csrf_token }}

        <span class="text">نام : </span>
        {{ form['name'] }}

        <span class="text">پست الکترونیک :</span>
        {{ form['mailaddr'] }}

        <span class="text">آدرس وبسایت :</span>
        {{ form['website'] }}

        <span class="text">متن نظر :</span>
        {{ form['content'] }}

        {{ form['postid'] }}

        <button type="submit" class="cbluebtn" id="submit">ارسال</button>
    </form>
    {% endif %}
    {% include 'sidebar.html' %}
    <footer>
        {% include 'totop.html' %}
        {% include 'back.html' %}
        {% include 'menu.html' %}
        {% include 'trademark.html' %}
    </footer>
</body>

</html>