<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ config['title'] }}</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ url_for('static', filename='config.css') }}">
</head>
<body class="colorful">
	<div class="whitegrad">
		<div class="header">
			<div class="headertext">
				<a name="root" href="{{ request.url_root }}" class="headertext">
				پیکربندی وبلاگ
				</a>
			</div>
		</div>
	</div>
	
	<form class="setupform" action="{{ request.script_root }}/config" method="post" accept-charset="utf-8">
	
		<span class="text">عنوان وبلاگ :</span>
		<input type="text" name="title" value="{{ config['title'] }}" required>
		
		<span class="text">توضیحات وبلاگ :</span>
		<input type="text" name="desc" value="{{ config['desc'] }}" required>
		
		<span class="text">نام کاربری :</span>
		<input type="text" name="username" value="admin" disabled required>
		
		<span class="text">گذرواژه ی فعلی :</span>
		<input type="password" name="oldpwd" value="" required>
		
		<span class="text">گذرواژه ی جدید :</span>
		<input type="password" name="newpwd" value="" id="pwd1" onkeyup='check();'>
		
		<span class="text">گذرواژه ی جدید (تکرار):</span>
		<input type="password" name="confirmpwd" value="" id="pwd2" onkeyup='check();'>
		
		<span class="text">نام نمایشی :</span>
		<input type="text" name="dispname" value="{{ config['dispname'] }}" required>
		
		<span class="text">پست الکترونیک :</span>
		<input type="email" name="mailaddr" value="{{ config['mailaddr'] }}" required>
		
		<span class="text">تعداد پست ها در هر صفحه :</span>
		<input type="text" name="ppp" value="{{ config['ppp'] }}" onkeyup='check();' required>
		
		<button type="submit" class="bluebtn" id="submit" onclick='return check();'>ارسال</button>
	</form>
	
	<script>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		var messages = {{ messages | safe }};
		for (var i=0; i<messages.length; i++)
			alert(messages[i]);
		{% endif %}
		{% endwith %}
		
		function check() {
			if ((document.getElementById('pwd1').value ==
				document.getElementById('pwd2').value) 
				&& ((document.getElementById('pwd1').value.length == 0)
				|| (document.getElementById('pwd1').value.length >= 8))) {
				document.getElementById('pwd1').style.color = '#22FF22';
				document.getElementById('pwd2').style.color = '#22FF22';
				document.getElementById('submit').style.color = '#FFFFFF';
				document.getElementById('submit').style.backgroundColor = "#2288FF";
				document.getElementById('submit').style.opacity = 1;
				document.getElementById('submit').disabled = false;
				
				return true;
			} else {
				document.getElementById('pwd1').style.color = '#FF2222';
				document.getElementById('pwd2').style.color = '#FF2222';
				document.getElementById('submit').style.color = '#888888';
				document.getElementById('submit').style.backgroundColor = "#44AAFF";
				document.getElementById('submit').style.opacity = 0.5;
				document.getElementById('submit').disabled = true;
				
				return false;
			}
		}
	</script>
	
	<footer>
		<div id="home" class="btn btnText" onclick="window.location.href='{{ request.url_root }}';">
			<span class="fas fa-chevron-left">
				<span class="btnTextBalloon">بازگشت به صفحه اصلی</span>
			</span>
		</div>	
	</footer>
</body>
</html>